.page {
    position: absolute;
    top: 2;
    left: 12%;
    padding: 3%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 5px;
  }
  

  .page .heading{
    position: absolute;
    top: -23%;

    color: #080808;
    text-align: center;
    padding: 50px 0;
    width:auto;
    z-index: -1;
  }