  .sidebar {

    height: 115vh;
    background-color: transparent;
    padding: 15px;
    width: 15%;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    z-index: -1;
    position: fixed;
  }
  
  .sidebar-button {
    position: fixed;
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #044c86;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-button:hover {
    background-color: #459aa0;
  }
  
  .sidebar-button.active {
    background-color: #008cba;
  }
  